.item-count-container{
    display: flex;
    align-items: center;
}

.item-count-button{
    outline: none;
    background: none;
	border: none;
}

.item-count-container p{
    width: 50px;
    font-size: 20px;
    text-align: center;
}